<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='form-fiesta.css')}}">
    <title>Vi-Tech | FIesta Godín | Generar Contrato</title>
</head>
<header>
    {%include 'navbar.html'%}
</header>
<body>
    <form class="box" action="#" method="post">
        <h1>Formulario para generar el contrato de <strong> <br> FIESTA GODÍN </strong> </h1>
        <p>Nombre del Jefe buena onda que va a patrocinar la fiesta</p>
        <input type="text" name="nm" placeholder="" autocomplete="on" required autofocus>
        <p>Nombre del Godín que asistirá a la fiesta</p>
        <input type="text" name="nm2" placeholder="" autocomplete="on" required autofocus>
        <p>Fecha de la fiesta godín</p>
        <input type="date" name="date" placeholder="" autocomplete="on" required autofocus> 
        <p>Lugar del salón de fiestas</p>     
        <input type="text" name="lc" placeholder="" autocomplete="on" required autofocus>
        <p>Nombre de la empresa</p>
        <input type="text" name="comp" placeholder="" autocomplete="on" required autofocus>
        <p>Precio a pagar para cubrir los gastos adicionales </p>
        <input type="number" name="price" placeholder="" autocomplete="on" required autofocus> 
        <input type="submit" value="Generar Contrato">    
    </form>
</body>
</html>