<meta charset="UTF-8">
<h1>Contrato de arrendamiento salon de eventos sociales  </h1> 

<h2> CONTRATO DE ARRENDAMIENTO DE SALON PARA EVENTOS SOCIALES </h2>
<p> </p>
EN LA CIUDAD DE <strong> {{location}} </strong>, 
<br> A LA FECHA DE <strong> {{date}} </strong> .
<hr>
CONTRATO DE ARRENDAMIENTO DE SALON PARA EVENTOS, QUE CELEBRAN POR UNA PARTE EN SU CALIDAD DE ARRENDADOR <strong> {{name}} </strong> 
<br> Y POR LA OTRA PARTE EN SU CALIDAD DE ARRENDATARIO EL (LA) SR. (A) <strong> {{name2}} </strong> AMBOS CON CAPACIDAD LEGAL PARA CELEBRAR EL PRESENTE CONTRATO,
PARA SUS EFECTOS ACUERDAN LAS PARTES QUE SE LES DESIGNE COMO ARRENDADOR Y ARRENDATARIO, RESPECTIVAMENTE.
<br>
El evento se celebrará en el salón de fiestas <strong> {{location}} </strong>.
<br>
Que será rentado por parte de la empresa de <strong> {{company}} </strong>. 
<br> El día <strong> {{date}} </strong> Y por cada hora adicional se cobrará la cantidad de <strong> {{price}} </strong> para cubrir los gastos adicionales.
</p>

<h3> ___________ FIRMA DEL GODÍN ASISTENTE (<strong> {{name2}} </strong>) </h3>

<h3> ___________ FIRMA DEL JEFE BUENA ONDA ( <strong> {{name}} </strong> ) </h3>

<style> h1 { font-size: 40px; } strong{color: red;} p {font-size: 18px;} html {font-family: Arial, Helvetica, sans-serif;} div{font-weight: 700; font-size: 18PX;} </style>