<meta charset="UTF-8">
<h1>CONTRATO DE COMPRA DE BOLETOS DE GRADUACIÓN</h1>
<h2> I. Los Boletos </h2> 
<h2> C L Á U S U L A S </h2>
<p>     
    <div> QUE CELEBRAN LOS GRADUADOS DE <strong> {{school}} </strong>  REPRESENTADA POR <strong> {{name}} </strong>  A QUIEN EN LO SUCESIVO SE LE
        DENOMINARA “EL VENDEDOR”, Y POR LA OTRA <strong> {{name2}} </strong>  A QUIEN EN LO SUCESIVO SE LE DENOMINARA “EL COMPRADOR”. 
        <br> COMO LUGAR DE GRADUACIÓN SE LE ASIGNARÁ EL SIGUIENTE <strong> {{location}} </strong>  Y COMO FECHA DE GRADUACIÓN SERÁ ASIGNADA <strong> {{date}} </strong> . 
        AL TENOR DEL SIGUIENTE GLOSARIO, ASÍ COMO DE LAS SIGUIENTES DECLARACIONES Y CLÁUSULAS </p> </div>
          PRIMERA. - CONSENTIMIENTO DE LAS PARTES. - Las Partes de común acuerdo manifiestan su voluntad para celebrar el presente Contrato cuya naturaleza jurídica es la compraventa de paquete de graduación; por lo que El vendedor se obliga a vender el paquete de graduación conforme a las especificaciones establecidas en el presupuesto y El comprador se obliga a pagar como contraprestación un precio cierto y determinado.
          <br>SEGUNDA. - OBJETO. - El objeto del presente Contrato es la compraventa de paquete de graduación cuyas características y precio se detallan en el presupuesto que forma parte del presente Contrato. 
          <br>TERCERA. - COSTO Y FORMA DE APARTADO. - El precio total del paquete de graduación será de $__600_ (seiscientos pesos 00/100 M.N.), por cada boleto.
           Comprometiéndose a pagar un 10% del total de su boleto a más tardar el <strong> {{date}} </strong> , para apartar fecha del salón de fiestas.
<style> h1 { font-size: x-large; } strong{color: red;} p {font-size: 18px;} html {font-family: Arial, Helvetica, sans-serif;} div{font-weight: 700; font-size: 18PX;} </style>
<h3> ___________ FIRMA DEL GRADUADO (<strong> {{name2}} </strong>) </h3>

<h3> ___________ FIRMA DEL REPRESENTANTE ( <strong> {{name}} </strong> ) </h3>

 
 
 
