<meta charset="UTF-8">
<h1>Muestra de contrato de matrimonio </h1>
<h2> I. La autoridad </h2> 
<p> En el Nombre de Dios, nuestro Padre y el Señor Jesucristo, nosotros, <strong>{{name}}</strong> y <strong> {{name2}} </strong> , por la presente, ante estos testigos, estamos unidos en santo matrimonio, como Dios pretendía en Génesis 2: 21-25, desde este día en adelante hasta la muerte. .
    La Autoridad en y para este matrimonio será el Dios Todopoderoso como se revela en la Santa Biblia, versión autorizada de 1611 King James ("la Palabra de Dios"). Sus palabras serán la Autoridad final en cada decisión y / o disputa.
    II Las fiestas </p>   
<h3> <strong>{{name}} </strong> es un hombre de sano juicio y carácter, y de edad legal, que atestigua el señorío de Jesucristo y la preeminencia de la Palabra de Dios. </h3>
<h3> <strong> {{name2}} </strong>  es una mujer de sano juicio y carácter, y de edad legal, que atestigua el señorío de Jesucristo y la preeminencia de la Palabra de Dios. </h3>
<h3><strong>{{location}}</strong>  Teniendo como lugar de celebración el presente matrimonio, sus familiares y amigos cercanos serán testigos de este acotesimiento tan importante</h3>
<h3>____________________________Firma del Esposo</h3>
<h3>____________________________Firma de La Esposa</h3>

<style> strong{color: red;} p {font-size: 18px;} html {font-family: Arial, Helvetica, sans-serif;}</style>