<meta charset="UTF-8">
<title> Vi-Tech | Bodas | Contrado Rendereado </title>
            <h1>Muestra de contrato de matrimonio </h1>
            <h2> I. La autoridad </h2> 
            <p> En el Nombre de Dios, nuestro Padre y el Señor Jesucristo, nosotros, <strong id="primer-conyugue">{{name}}</strong> y <strong id="segundo-conyugue">{{name2}}</strong>
                por la presente, ante estos testigos, estamos unidos en santo matrimonio. 
                <br>
                Como Dios pretendía en Génesis 2: 21-25, desde este día en adelante hasta la muerte.
                La Autoridad en y para este matrimonio será el Dios Todo poderoso como se revela en la Santa Biblia, versión autorizada de 1611 King James ("la Palabra de Dios"). Sus palabras serán la Autoridad final en cada decisión y / o disputa.
                II Las fiestas </p>   
            <h3> <strong id="firma-conyugue1">{{name}}</strong> FIRMA DEL PRIMER CONYUGUE </h3>
            <h3> <strong id="firma-conyugue2">{{name2}}</strong> FIRMA DEL SEGUNDO CONYUGUE </h3>
            <h3><strong id="lugar" >{{location}}</strong>  Teniendo como lugar de celebración el presente matrimonio, sus familiares y amigos cercanos serán testigos de este acotesimiento tan importante</h3>

            <style>
                html
                {
                    font-family: Arial, Helvetica, sans-serif;
                }
                h1
                {
                    text-align: center;
                }
                strong
                {
                    color: red;
                }
                p 
                {
                    font-size: 18px;
                }
            </style>