<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='form-xv.css')}}">
    <title> Vi-Tech | Quinceaños | Generar Contrato </title>
</head>
<header>
    {%include 'navbar.html'%}
</header>
<body>
    <div class="container">
		<div id="main-form" > 
			<form class="box" target="_blank" method="post">
				<h1>Formulario para generar el contrato de <strong> <br> XV's años </strong> </h1>
				<p>Nombre del Papá/Mamá de la Quinceañera</p>
				<input type="text" name="nm" placeholder="" autocomplete="off" required onkeyup="document.getElementById('padre').innerHTML=this.value">
				<p>Nombre de la Quinceañera</p>
				<input type="text" name="nm2" placeholder="" autocomplete="off" required onkeyup="document.getElementById('quince').innerHTML=this.value">
				<p>Fecha de la Misa</p>
				<input type="date" name="date" placeholder="" autocomplete="off" required onchange="document.getElementById('fecha').innerHTML=this.value">
				<p>Hora de la Misa</p>
				<input type="time" name="hour" placeholder="" autocomplete="off" required onkeyup="document.getElementById('hora').innerHTML=this.value">
				<input type="submit" id="submit" value="Generar Contrato">    
			</form>
		</div>
	
	<div id="preview">
		<meta charset="UTF-8">
		<h1>Contrato para una Celebración de Quince Años</h1>
		<h2> I. La Misa </h2> 
		<p> Las misas de Quinceañeras se llevan a cabo solamente el día <strong id="fecha" >_________ </strong> a las <strong id="hora">_________ </strong> horas</h3>
			<br>
			<div> Viernes a las 3pm o Sábado La hora de 12:00 PM o 2:00 PM Dependiendo en la fecha disponible. </div>  
			La misa tiene que ser reservada por lo menos 4 meses antes de la fecha. <br> Si quieren otra fecha o horario,
			tienen que hacer una cita con el párroco para aprobación. </p>   
			<h3> Estoy de acuerdo que la misa de la Quinceañera se realice el: <strong>{{date}} </strong> a las <strong>{{hour}} </strong> horas</h3>
			<h3> Yo <strong id="padre" > _________ </strong>  (papá/mamá o guardián) de <strong id="quince"> __________ </strong>  entiendo que actualmente se da una donación por la celebración de Quince años de mi hija.  <div> En la parroquia de Nuestra Señora del Refugio de $650 ‐ $725 pesos </div> Esto NO incluye arreglos florales, ni la música para la misa. </h3>
		</div>
	</div>
	<script src="../static/js/set_badges.js"></script>
</body>
</html>