
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FEDFE7;
    background: url(../static/img/wedding.jpg);
    background-size: cover;
}

.container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "preview main-form";
}

#preview
{
    grid-area: preview;
    background-color: white;
    margin: 35px;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#preview h1
{
    text-align: center;
}
#preview strong
{
    color: red;
}
#preview p 
{
    font-size: 18px;
}
#main-form
{
    grid-area: main-form;
}
#main-form .box    
{
    height: 100vh;
    width: 350px;
    padding: 35px;
    background: #7eccd8;;
    text-align: center;
    border-radius: 20px;
}
#main-form .box h1 
{
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #006ae2;
    border-radius: 24px;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 20px;
}
#main-form .box input[type="text"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f08ab9;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    margin-top: 2px;
    
}
#main-form .box input[type="text"]:focus
{
    width: 215px;
    border-color: #df468b;
}
#main-form .box input[type="text"]::placeholder
{
    color: white;
    opacity: 1;
}
#main-form .box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2098aa;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#main-form .box input[type="submit"]:hover
{
    background: #2098aa;
}
#main-form .box h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
}
#main-form .box p
{
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 0px 10px;
    margin: 0px auto;
}

#main-form .examinar
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #f08ab9;
    padding: 15px 10px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    margin-top: 2px;
}
#main-form .upload-btn
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2098aa;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#main-form .upload-btn a
{
    text-decoration: none;
    color: black;
}
#main-form .upload-btn:hover
{
    background: #2098aa;
}
#main-form .upload-btn a:hover, .upload-btn a:active
{
    color: black;
    background: none;
}
#main-form strong
{
    color: white;
}
.img-preview
{
    max-width:250px;
}
#main-form .box p
{
    font-size: 25px;
}