body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95daf0;
    background: url(../static/img/quince.jpeg);
}
.container
{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "preview main-form";
}
#preview
{
    grid-area: preview;
    background-color: white;
    margin: 35px;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
#preview h1
{
    text-align: center;
}
#preview strong
{
    color: red;
}
#preview p 
{
    font-size: 18px;
}
#main-form
{
    grid-area: main-form;
}
#main-form .box    
{
    height: 100vh;
    width: 350px;
    padding: 35px;
    background:#12c5e7;
    text-align: center;
    border-radius: 20px;
}
#main-form .box h1 
{
    color: white;
    font-weight: 700;
    font-size: 23px;
    border: 2px solid #f84960;
    border-radius: 24px;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 20px;
}
#main-form .box input[type="text"],.box input[type="date"],.box input[type="time"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #e79c12;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: white;
    margin-top: 2px;
}
#main-form .box input[type="text"]:focus,.box input[type="date"]:focus,.box input[type="time"]:focus
{
    width: 215px;
    border-color: #8b5e0b;
}
#main-form .box input[type="text"]::placeholder,.box input[type="date"]::placeholder,.box input[type="time"]::placeholder
{
    color: white;
    opacity: 1;
}

#main-form .box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #9c12e7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: white;
    opacity: 1;
}
#main-form .box input[type="submit"]:hover
{
    background: #9c12e7;
}
#main-form h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
}
#main-form p
{
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 0px 10px;
    margin: 0px auto;
}