html {
    background: url(../static/img/ballon.jpg)no-repeat;
    background-size: cover;
  }

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}
.box    
{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 400px;
    left: 52%;
    transform: translate(-50%,-40%);
    background:#3358fe;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 10px;
}
.box h1 
{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #ff0000;
    border-radius: 24px;
    padding: 12px 10px;
    outline: none;
    margin-bottom: 20px;
}
.box input[type="date"], .box input[type="text"], .box input[type="number"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #85fee8;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    color: white;
    margin-top: 2px;
}
.box input[type="date"]:focus, .box input[type="text"]:focus, .box input[type="number"]:focus
{
    width: 215px;
    border-color: #019a7e;
}
.box input[type="date"]::placeholder, .box input[type="text"]::placeholder, .box input[type="number"]::placeholder
{
    color: white;
    opacity: 1;
    font-size: 11px;
}

.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #d933fe;
    padding: 14px 5px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: white;
    opacity: 1;
}
.box input[type="submit"]:hover
{
    background: #d933fe;
}
h2{
    color: white;
    font-weight: 700;
    font-size: 15px;
}
p
{
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 0px 10px;
    margin: 0px auto;
}